Node-Red/Anchor-Dashboard.json
[
    {
        "id": "39e30936.0abe66",
        "type": "tab",
        "label": "Anchoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7bdb4e7e.37b94",
        "type": "function",
        "z": "39e30936.0abe66",
        "name": "Set Anchor ON",
        "func": "let _ = global.get('lodash');\nlet app = global.get('app');\nlet position = app.getSelfPath('navigation.position.value');\n\nvar Anchored_STATUS=global.get('Anchored_STATUS') || 0;\nglobal.set(\"Anchored_STATUS\", \"ON\");\nglobal.set(\"Anchored_LAT\", position.latitude);\nglobal.set(\"Anchored_LON\", position.longitude);\n\nmsg.payload = \"Position Set\";\n    \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "4af0b5c5.980fcc",
                "7af2b6e7.413578",
                "f4d6073.525f2f8"
            ]
        ]
    },
    {
        "id": "92c4ec45.9bf23",
        "type": "function",
        "z": "39e30936.0abe66",
        "name": "Distance From Anchor Point",
        "func": "let _ = global.get('lodash');\nlet app = global.get('app');\nlet position = app.getSelfPath('navigation.position.value');\n\nmsg.lat1 = position.latitude;\nmsg.lon1 = position.longitude;\nmsg.lat2 = global.get(\"Anchored_LAT\");\nmsg.lon2 = global.get(\"Anchored_LON\");\n\nvar p = 0.017453292519943295;  // Math.PI / 180\n\nvar dLat = p * (msg.lat2-msg.lat1); // Find delta and convert to radians\nvar dLon = p * (msg.lon2-msg.lon1); // Find delta and convert to radians\n\nvar earthRadiusKm = 6371; // Earth radius in km.\n\nvar lat1r = p* msg.lat1; // Convert to Radians\nvar lat2r = p* msg.lat2; // Convert to Radians\n\nvar a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1r) * Math.cos(lat2r); \nvar c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \nvar d = Math.round((earthRadiusKm * c) * 1000); //calculate result in meters\n\nglobal.set(\"Anchored_DISTANCE\", d);\n\nmsg.payload = {\n    \"status\": global.get(\"Anchored_STATUS\"),\n    \"distance\": d\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 100,
        "wires": [
            [
                "57787813.858e88"
            ]
        ]
    },
    {
        "id": "9edbdbaa.ea4658",
        "type": "function",
        "z": "39e30936.0abe66",
        "name": "Set Anchor OFF",
        "func": "\nglobal.set(\"Anchored_STATUS\", \"OFF\");\nglobal.set(\"Anchored_LAT\");\nglobal.set(\"Anchored_LON\");\nglobal.set(\"Anchored_DISTANCE\",\"\");\nflow.set(\"ANCHOR_DEPTH\",\"\");\nflow.set(\"ANCHOR_RADIUS\",0);\n\n    \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "db39d66b.6f8e38",
                "1dbf66c0.794289",
                "f4d6073.525f2f8"
            ]
        ]
    },
    {
        "id": "ab0e1281.e210b",
        "type": "switch",
        "z": "39e30936.0abe66",
        "name": "Check Anchor Status",
        "property": "Anchored_STATUS",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "92c4ec45.9bf23"
            ]
        ]
    },
    {
        "id": "b3ede12a.b6689",
        "type": "inject",
        "z": "39e30936.0abe66",
        "name": "60s Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "ab0e1281.e210b"
            ]
        ]
    },
    {
        "id": "57787813.858e88",
        "type": "influxdb out",
        "z": "39e30936.0abe66",
        "influxdb": "a8c3eca7.425fb",
        "name": "Influx SignalK",
        "measurement": "anchor.status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "5bcfc7ad.3ca388",
        "type": "signalk-send-pathvalue",
        "z": "39e30936.0abe66",
        "name": "Send MSG",
        "source": "",
        "meta": "",
        "x": 1130,
        "y": 300,
        "wires": []
    },
    {
        "id": "4af0b5c5.980fcc",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "STATUS MSG",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "navigation.anchor.status",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 260,
        "wires": [
            [
                "5bcfc7ad.3ca388"
            ]
        ]
    },
    {
        "id": "db39d66b.6f8e38",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "STATUS MSG",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "navigation.anchor.status",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "5bcfc7ad.3ca388"
            ]
        ]
    },
    {
        "id": "7af2b6e7.413578",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "LAT/LON MSG",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "navigation.anchor.position",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"latitude\": $globalContext('Anchored_LAT'),\t\"longitude\": $globalContext('Anchored_LON')}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 220,
        "wires": [
            [
                "5bcfc7ad.3ca388"
            ]
        ]
    },
    {
        "id": "1dbf66c0.794289",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "LAT/LON MSG",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "navigation.anchor.position",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 360,
        "wires": [
            [
                "5bcfc7ad.3ca388"
            ]
        ]
    },
    {
        "id": "b291ec34.b5354",
        "type": "ui_button",
        "z": "39e30936.0abe66",
        "name": "Anchor ON",
        "group": "c367d93b.84dc88",
        "order": 3,
        "width": 5,
        "height": 3,
        "passthru": false,
        "label": "<font size=4>Drop Anchor</font>",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-anchor fa-2x",
        "payload": "TOGGLE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "11aa184.35b28e8"
            ]
        ]
    },
    {
        "id": "e34104b3.0752f8",
        "type": "ui_text",
        "z": "39e30936.0abe66",
        "group": "c367d93b.84dc88",
        "order": 10,
        "width": 6,
        "height": 2,
        "name": "Anchor_Status",
        "label": "<font size=8>ALARM</font>",
        "format": "<font size=8>{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "11aa184.35b28e8",
        "type": "function",
        "z": "39e30936.0abe66",
        "name": "TRANSFORM",
        "func": "global.set(\"Anchored_STATUS\", \"ON\");   \n\nmsg.payload = \"ON\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "7bdb4e7e.37b94",
                "b5f9ccaf.d0f18"
            ]
        ]
    },
    {
        "id": "205c9036.b51d2",
        "type": "ui_text",
        "z": "39e30936.0abe66",
        "group": "1ffe93d7.04cfac",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "RODE",
        "label": "",
        "format": "<font size=8>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "8d376c8a.a1e7d",
        "type": "signalk-subscribe",
        "z": "39e30936.0abe66",
        "name": "Subscribe Depth",
        "mode": "sendAll",
        "flatten": true,
        "context": "vessels.self",
        "path": "environment.depth.belowTransducer",
        "source": "",
        "period": 1000,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "85078277.b3813"
            ]
        ]
    },
    {
        "id": "b5f9ccaf.d0f18",
        "type": "function",
        "z": "39e30936.0abe66",
        "name": "Set Depth",
        "func": "\nif (msg.payload == \"ON\") {\n    flow.set(\"ANCHOR_DEPTH\", flow.get(\"DEPTH\"))\n}\nflow.set(\"DEPTH\", msg.payload);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d91196.4f745",
        "type": "ui_text",
        "z": "39e30936.0abe66",
        "group": "54ee39b1.58d218",
        "order": 2,
        "width": 10,
        "height": 2,
        "name": "ANCHOR DEPTH",
        "label": "<font size=8>Anchor Depth</font>",
        "format": "<font size=8>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "b3d09e93.e4a83",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEPTH",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 520,
        "wires": [
            [
                "ffa5473c.5043f8"
            ]
        ]
    },
    {
        "id": "ffa5473c.5043f8",
        "type": "ui_text",
        "z": "39e30936.0abe66",
        "group": "54ee39b1.58d218",
        "order": 1,
        "width": 10,
        "height": 2,
        "name": "Current Depth",
        "label": "<font size=8>Current Depth</font>",
        "format": "<font size=8>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "85078277.b3813",
        "type": "function",
        "z": "39e30936.0abe66",
        "name": "Meters to Feet",
        "func": "msg.payload = Math.round((msg.payload * 3.28084));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "b5f9ccaf.d0f18"
            ]
        ]
    },
    {
        "id": "dc9e7653.4b4118",
        "type": "ui_button",
        "z": "39e30936.0abe66",
        "name": "Anchor OFF",
        "group": "c367d93b.84dc88",
        "order": 13,
        "width": 5,
        "height": 3,
        "passthru": false,
        "label": "<font size=4>Raise Anchor</font>",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-anchor fa-2x",
        "payload": "TOGGLE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "9edbdbaa.ea4658"
            ]
        ]
    },
    {
        "id": "74b78552.d7f2fc",
        "type": "ui_text",
        "z": "39e30936.0abe66",
        "group": "54ee39b1.58d218",
        "order": 5,
        "width": 10,
        "height": 2,
        "name": "ANCHOR DISTANCE",
        "label": "<font size=8>Distance to Anchor</font>",
        "format": "<font size=8>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "335b6eb0.26dca2",
        "type": "inject",
        "z": "39e30936.0abe66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "b3d09e93.e4a83",
                "a548ba5f.c3c7b8",
                "1b1b79dc.3d91c6",
                "37d5c6ff.2b14aa",
                "436ddca6.f6d814"
            ]
        ]
    },
    {
        "id": "a548ba5f.c3c7b8",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Anchored_STATUS",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "e34104b3.0752f8"
            ]
        ]
    },
    {
        "id": "1b1b79dc.3d91c6",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ANCHOR_DEPTH",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 640,
        "wires": [
            [
                "b0d91196.4f745"
            ]
        ]
    },
    {
        "id": "37d5c6ff.2b14aa",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Anchored_DISTANCE",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 680,
        "wires": [
            [
                "74b78552.d7f2fc"
            ]
        ]
    },
    {
        "id": "75e3d465.10ba8c",
        "type": "inject",
        "z": "39e30936.0abe66",
        "name": "Set Default",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "str",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "c3754eec.57fd4"
            ]
        ]
    },
    {
        "id": "c3754eec.57fd4",
        "type": "ui_slider",
        "z": "39e30936.0abe66",
        "name": "Slider Rode",
        "label": "<font size=8>Rode</font>",
        "tooltip": "",
        "group": "1ffe93d7.04cfac",
        "order": 1,
        "width": 16,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "30",
        "max": "200",
        "step": "10",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "205c9036.b51d2",
                "695a7873.e5a418"
            ]
        ]
    },
    {
        "id": "695a7873.e5a418",
        "type": "function",
        "z": "39e30936.0abe66",
        "name": "",
        "func": "flow.set(\"RODE\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f4d6073.525f2f8",
        "type": "change",
        "z": "39e30936.0abe66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 460,
        "wires": [
            [
                "a548ba5f.c3c7b8",
                "1b1b79dc.3d91c6",
                "37d5c6ff.2b14aa"
            ]
        ]
    },
    {
        "id": "9be95144.15922",
        "type": "ui_text",
        "z": "39e30936.0abe66",
        "group": "54ee39b1.58d218",
        "order": 6,
        "width": 10,
        "height": 2,
        "name": "Swing Radius",
        "label": "<font size=8>Swing Radius</font>",
        "format": "<font size=8>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "436ddca6.f6d814",
        "type": "function",
        "z": "39e30936.0abe66",
        "name": "Calculate Radius",
        "func": "s = flow.get(\"RODE\");\nd = flow.get(\"ANCHOR_DEPTH\");\n\n// Check Anchor Status\nif (global.get(\"Anchored_STATUS\") == \"OFF\") {\n    r = \"\";\n} else {\n    r = Math.round(Math.sqrt((s*s)-(d*d)));\n}\n\nflow.set(\"ANCHOR_RADIUS\",r);\nmsg.payload = r;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 600,
        "wires": [
            [
                "9be95144.15922"
            ]
        ]
    },
    {
        "id": "a8c3eca7.425fb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "SignalK",
        "name": "InfluxDb-SignalK",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "c367d93b.84dc88",
        "type": "ui_group",
        "name": "Controls",
        "tab": "9c2374fc.63ae28",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "1ffe93d7.04cfac",
        "type": "ui_group",
        "name": "Rode Adjustment",
        "tab": "9c2374fc.63ae28",
        "order": 3,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "54ee39b1.58d218",
        "type": "ui_group",
        "name": "Data",
        "tab": "9c2374fc.63ae28",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "9c2374fc.63ae28",
        "type": "ui_tab",
        "name": "Anchoring Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]